@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #1e1f23;
  color: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
}

@keyframes backgroundTransition {
  0% {
    background: #0f0c29;
  }
  33% {
    background: #302b63;
  }
  66% {
    background: #24243e;
  }
  100% {
    background: #0f0c29;
  }
}

.animate-backgroundTransition {
  animation: backgroundTransition 10s infinite;
}

#about, #projects, #skills, #footer {
  background-color: #1e1f23;
}

#contact {
  background-color: #32343a;
}